.wrapper,
.row {
  *zoom: 1; }
  .wrapper:before,
  .row:before, .wrapper:after,
  .row:after {
    content: "";
    display: table; }
  .wrapper:after,
  .row:after {
    clear: both; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #333;
  font-family: helvetica, sans-serif; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

[class*='col-'] {
  float: left;
  width: 100%;
  min-height: 1px;
  padding: 1em;
  background-color: #fff; }

@media only screen and (max-width: 399px) {
  body {
    background-color: yellow; }

  .wrapper {
    width: 100%; }

  .col-sm-1 {
    width: 8.3333333333%; }

  .col-sm-2 {
    width: 16.6666666667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.3333333333%; }

  .col-sm-5 {
    width: 41.6666666667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.3333333333%; }

  .col-sm-8 {
    width: 66.6666666667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.3333333333%; }

  .col-sm-11 {
    width: 91.6666666667%; }

  .col-sm-12 {
    width: 100%; } }
@media only screen and (min-width: 400px) and (max-width: 999px) {
  body {
    background-color: pink; }

  .wrapper {
    width: 95%;
    max-width: 90em; }

  .col-med-1 {
    width: 8.3333333333%; }

  .col-med-2 {
    width: 16.6666666667%; }

  .col-med-3 {
    width: 25%; }

  .col-med-4 {
    width: 33.3333333333%; }

  .col-med-5 {
    width: 41.6666666667%; }

  .col-med-6 {
    width: 50%; }

  .col-med-7 {
    width: 58.3333333333%; }

  .col-med-8 {
    width: 66.6666666667%; }

  .col-med-9 {
    width: 75%; }

  .col-med-10 {
    width: 83.3333333333%; }

  .col-med-11 {
    width: 91.6666666667%; }

  .col-med-12 {
    width: 100%; } }
@media only screen and (min-width: 1000px) {
  body {
    background-color: lightblue; }

  .wrapper {
    width: 95%;
    max-width: 90em; }

  .col-lg-1 {
    width: 8.3333333333%; }

  .col-lg-2 {
    width: 16.6666666667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.3333333333%; }

  .col-lg-5 {
    width: 41.6666666667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.3333333333%; }

  .col-lg-8 {
    width: 66.6666666667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.3333333333%; }

  .col-lg-11 {
    width: 91.6666666667%; }

  .col-lg-12 {
    width: 100%; } }
.bg-primary {
  background-color: #E24E42; }

.bg-primary-tint {
  background: #f0685d; }

.bg-primary-shade {
  background: #e91908; }

.bg-secondary {
  background-color: #E9B000; }

.bg-secondary-tint {
  background: #ffc513; }

.bg-secondary-shade {
  background: #b68900; }

.bg-tertiary {
  background-color: #EB6E80; }

.bg-tertiary-tint {
  background: #f68c9b; }

.bg-tertiary-shade {
  background: #fa2c49; }

.bg-accent {
  background-color: #008F95; }

.bg-accent-tint {
  background: #00b6be; }

.bg-accent-shade {
  background: #005e62; }

h1 {
  font-size: 1.8em;
  color: #444;
  font-weight: 200; }

h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1em;
  color: #444;
  font-weight: 600; }

.swatch {
  min-height: 135px; }

.swatch-info {
  min-height: 135px; }
  .swatch-info [class*='col-'] {
    padding: 0; }
  .swatch-info .label {
    text-align: left; }
  .swatch-info .label-color {
    text-align: right; }

.tandt {
  min-height: 135px; }

/*# sourceMappingURL=grid.css.map */
