@import "variables";
@import "mixins";
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  @include border-box;
}
// *:not(body):not(html):not(p){
//   border:1px dashed lightblue;
// }
body{
  color: #333;
  font-family: helvetica, sans-serif;
}

//GRID SETUP/STYLING
.wrapper{
  width: 100%;
  margin: 0 auto;
}
.wrapper,
.row {
  @extend %clearfix;
}

// 😎 whoa cool selector
[class*='col-']{
  float: left;
  // padding: 1em;
  width: 100%;
  min-height: 1px;
  padding: 1em;
  background-color: $white;
}


// media queries🖥
@media #{$breakpoint-small} {
    .wrapper{
      width: 100%;
    }

    @for $i from 1 through $grid-columns {
      .col-sm-#{$i} {
        width: 100% / $grid-columns * $i;
      }
  }
}

@media #{$breakpoint-medium} {

  .wrapper{
    width: 95%;
    max-width: $grid-max-width;
  }
  @for $i from 1 through $grid-columns {
    .col-med-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }
}
@media #{$breakpoint-large} {

  .wrapper{
    width: 95%;
    max-width: $grid-max-width;
  }
  @for $i from 1 through $grid-columns {
    .col-lg-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }
}

//COLORS ARRAY
$colors:(
'primary': $primary,
'secondary': $secondary,
'tertiary': $tertiary,
'accent': $accent
);

//SET BACKGROUND COLOR CLASSES
@each $color-type, $hex in $colors
{
  // LABEL RGB VALUES
  .color-#{$color-type} .label-rgb:before{
    content: '#{red($hex)} / #{green($hex)} / #{blue($hex)}';
  }
  .bg-#{$color-type}
  {
    background-color: $hex;
  }
// SET TINT AND TONE FOR EACH COLOR
  .bg-#{$color-type}-tint
  {
    background: lighten(saturate($hex, $tint-saturation-amt),$tint-amt);
  }
  .bg-#{$color-type}-shade
  {
    background: darken(saturate($hex, $shade-saturation-amt),$shade-amt);
  }
  .primary .mixed-with-#{$color-type} .swatch-small {
    background-color: mix($hex, $primary, $mix-weight);
  }
  .secondary .mixed-with-#{$color-type} .swatch-small {
    background-color: mix($hex, $secondary, $mix-weight);
  }
  .tertiary .mixed-with-#{$color-type} .swatch-small {
    background-color: mix($hex, $tertiary, $mix-weight);
  }
  .accent .mixed-with-#{$color-type} .swatch-small {
    background-color: mix($hex, $accent, $mix-weight);
  }
}

//ELEMENT STYLING
h1 {
  padding-left: 0.5em;
  font-size: 1.8em;
  color: #444;
  font-weight: 200;
}

h3 {
  padding-left: 1em;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1em;
  color: #444;
  font-weight: 600;
}

.swatch{
  margin-bottom: 1em;
  min-height: $swatch-height;
}
.swatch-small{
  min-height: $swatch-height / 3;
}
.swatch-info{
  min-height: $swatch-height;
  [class*='col-']{
    padding: 0;
  }
  .label{
    text-align: left;
  }
  .label-color{
    text-align: right;
  }
}
.tandt{
  min-height: $swatch-height;
}
